.sidebar {
    height: 100vh;
    background-color: aliceblue;
    float: left;
    width: 20%;
    margin-right: 10px;
    color: olivedrab;
    margin-bottom: 10px;
}

.sidebar2 {
    height: 100vh;
    background: repeating-radial-gradient( ellipse at 100% 30%, lightskyblue 30px, lightblue 30px, lightcyan 60px, honeydew 60px);;
    float: right;
    width: 20%;
    margin-left: 10px;
    margin-bottom: 10px;

}

.textArea {
   width: 80%;
}

.sidebar .button {
    max-width: 50%;
}