.buildingsVariants {
    background-color: rgba(102, 255, 211, 0.2);
    padding: 10px;
    max-width: 56.6%;
    height: 97vh;
    display: grid;
    float: none;
    grid-template-areas:
            "firstA firstA"
            "secondA thirdA";
    grid-template-columns: 5fr 10fr;
    grid-gap: 10px;
    grid-template-rows: 1fr 6fr;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    overflow: visible;
 }

.building1 {
    background-color: ivory;
    grid-area: firstA;
}
.building2 {
    background-color: azure;
    grid-area: secondA;
}
.building3 {
    background-color: honeydew;
    grid-area: thirdA;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
}

.building3 div {
    background-color: ivory;
    padding: 10px;
}