.wrap {
    position: relative;
    max-height: 99.5vh;
    height: 99.5vh;
    max-width: 58.5%;
    background-size: cover;
    display: block;
    overflow: hidden;
    margin: 0;


}

.flatsVariants {
    box-sizing: border-box;
    display: block;
    min-width: 100%;
    min-height: 100vh;
     background-color: rgba(0,0,0,0.6);
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     background-position: center center;
     text-align: left;
    background-image: url("appPicture.jpg");
    opacity: 0.6;
    overflow: hidden;
    background-attachment: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

 }
.navlinkToMain {
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}


.navlinkToMain p:hover {
    opacity: 0.8;
    color: green;
    transform: scale(1.2);
}

.nav {
    text-decoration: none;
    color: cadetblue;

}
.nav:visited {
    text-decoration: none;
    color: red;
}
.nav:hover {
    color: blue;
}

.textarea {

}